.bg-img {
    background-image: url(https://wallpaperaccess.com/full/1105642.jpg);
    height: 100vh;
     background-size: cover;
    /* position: relative;  */
}
.navbar{
    background-color: rgb(167, 135, 94)
}
.heading{
    color: rgb(145, 23, 23);
    text-align: center;
    padding-bottom: 5px;
}
.table{
    color:rgb(135, 182, 41);
}
.Container{
    color:rgb(135, 182, 41);
    text-align: center;
}
ul {
    list-style-type: none;
}